.introduction {
  width: 80%;
  align-items: center;
  margin-left: 300px;
  /* margin-bottom: 50px; */
  color: rgb(228, 228, 228);
}

.myimg {
  float: left;
  width: 150px;
  height: 180px;

  margin-right: 50px;
}

.intro {
  display: flex;
  justify-content: center;
}

.hr1 {
  margin: 10px;
  width: 270px;
}

.hr2 {
  margin: 10px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.contact {
  float: left;
}

.front_end {
}
