.MenuBar {
  width: 100px;
}

.menu {
  font-size: 10px;
  font-weight: bold;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.addBtn {
  margin-left: 10px;
  color: rgb(228, 228, 228);
}

.Btn {
  display: inline-block;

  font-size: 8px;
  margin: 0;
}

input {
  display: inline-block;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  color: gray;
  width: 55px;
  font-size: 9px;
}

input:focus {
  outline: none;
}

.menu_item {
  text-decoration-line: none;
  color: gray;
  font-size: 10px;
}
